:root {
  --fadeTime: 1000ms;
  --fadeTiming: ease-in-out;
}
@keyframes textFadeIn {
  from {opacity: 0%;}
  to {opacity: 100%;}
}
body {
  background-color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  height: 100vh;
}
#root {
  border: 0px solid black;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#background {
  border: 0px solid black;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#quote-box {
  border-radius: 3px;
  position: relative;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
}
#text {
  border: 0px solid black;
  color: black;
  font-size: 1.75em;
  text-align: center;
  padding: 0em 0em 1em;
}
#author {
  border: 0px solid black;
  color: black;
  text-align: right;
  font-size: 1.1em;
  padding: 0.5em 0em 1.2em;
}
#buttons {
  border: 0px solid black;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
#new-quote {
  border-radius: 3px;
  border: 0px solid black;
  color: white;
  background-color: black;
  font-size: 0.9em;
  height: 2.2em;
  padding: 0em 1em;
}
#tweet-quote {
  border-radius: 3px;
  border: 0px solid black;
  color: white;
  background-color: black;
  font-size: 1.5em;
  padding: 0.1em 0.25em;
}
#new-quote:hover:enabled, #tweet-quote:hover {
  opacity: 0.9;
  cursor: pointer;
}
#new-quote:disabled {
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.5);
}
.fade {
  animation: textFadeIn var(--fadeTime) var(--fadeTiming) forwards;
}
.animatedText {
  transition: color var(--fadeTime) var(--fadeTiming);
}
.animatedBackground {
  transition: background-color var(--fadeTime) var(--fadeTiming);
}