:root {
  --theme: black;
}
body {
  background-color: var(--theme);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#wrapper {
  border: 0px solid black;
  background-color: var(--theme);
}
#quote-box {
  border-radius: 3px;
  position: relative;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
}
#text {
  border: 0px solid black;
  color: var(--theme);
  height: 8em;
  font-size: 2em;
}
#author {
  border: 0px solid black;
  color: var(--theme);
  text-align: right;
  font-size: 1.2em;
}
#buttons {
  border: 2px solid black;
  display: flex;
  justify-content: first baseline;
  align-items: center;
}
#new-quote {
  border-radius: 3px;
  border: 0px solid black;
  color: white;
  background-color: var(--theme);
  font-size: 1.2em;
  height: 1.9em;
}
#tweet-quote {
  border-radius: 3px;
  border: 0px solid black;
  color: white;
  background-color: var(--theme);
  font-size: 2em;
}