#wrapper {
  border: 2px solid black;
}
#quote-box {
  border: 2px solid red;
  width: 25%;
  margin: auto;
}
#text {
  border: 2px solid blue;
}
#author {
  border: 2px solid green;
}
#new-quote-container {
  border: 2px solid yellow;
}
#tweet-quote-container {
  border: 2px solid orange;
}