#wrapper {
  border: 2px solid black;
}
#quote-box {
  border: 2px solid black;
  width: 25%;
  margin: auto;
}
#text {
  border: 2px solid black;
}
#author {
  border: 2px solid black;
}
#new-quote-container {
  border: 2px solid black;
}
#tweet-quote-container {
  border: 2px solid black;
}